<h1>Signup</h1>
<form action="/signup" method="post" id="signup-form">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <br>
    <button type="submit">Click here sign up!</button>
</form>
<br>
<a href="/">Already have an account? Click here to log-in</a>