<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    {{{body}}}
    <p class="error">{{error}}</p>
</body>

</html>