<h1>{{title}}</h1>

<article>
  <p>
    This my CS 546 Lab 8. You can search the keyword about a TV in the following
    form that will return the result from TV Maze! Have fun!
  </p>
  <form action='/searchshows' method='post'>
    <label for='kInput'>
      Keyword:
      <input type='text' name='showSearchTerm' id='kInput' />
    </label>
    <button type='submit'>Click here to search!</button>
  </form>
</article>